# Userfile
*.cyprj.*
*.cywrk.*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*/ComponentUpdateLog.txt

# Folders
*codegentemp/
*CoretexM0/
*Debug/
*Generated_Source/
Custom Profile/Custom Profile.cydsn/BUILD.log
*.log
hardware/smart_mop.csv
hardware/smart_mop.s\#1
